# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Group.NET.iml
# Datasource local storage ignored files
/../../../../../../../:\Projekty\Group.NET\Group.NET\.idea\.idea.Group.NET\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
